<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net46" />
  <package id="Dynamitey" version="1.0.2.0" targetFramework="net46" />
  <package id="FluentValidationNA" version="1.2.16" targetFramework="net46" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.4-alpha1-160107" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor" version="3.2.4-alpha1-160107" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.4-alpha1-160107" targetFramework="net46" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net46" />
  <package id="System.Linq.Dynamic.Library" version="1.1.14" targetFramework="net46" />
</packages>